SYUSEN_ANALYSIS_DIR=./references/analysis/current
SYUSEN_LEGACY_ROOT=./references/legacy-root
SYUSEN_WORK_DIR=./data
SYUSEN_PRIMARY_CODES=SHDEN,SHTOR,SHSYO,SHTKI,SHNKI
SYUSEN_SECONDARY_CODES=SHSUJ,SHTNSUJ,SHTEGATA,SHZEI,SHTAN,SHTANT
